<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header  text-aline">
        <h2 class="modal-title text-center" id="exampleModalLabel">Créer un nouvel auteur</h2>
      </div>
      <div class="modal-body">
				<%= render "new.html.erb", new_author: @new_author %>
      </div>
    </div>
  </div>
</div>

