<h1>Ajouter un auteur</h1>
<div class="container">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<%= render 'form', author: @author %>			
			<%= link_to 'Back', authors_path, class: 'btn btn-danger' %>
		</div>
	</div>
</div>