.container-buttons {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.badge-success {
	background-color: #ffeb3b;
	border-radius: 4px !important;
}
.badge-red {
	background-color: red;
	border-radius: 4px !important;
}
